/* General */
:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --GrisOscuro: #666;
  --GrisClaro: #ebebeb;
  --Verde: #39b54a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--GrisClaro);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

/* Estilos Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Amarillo);
  padding: 10px;
  margin: 0;
}
.headerSuperior {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}
.headerInferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.headerInferior ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.alinear {
  display: flex;
  align-items: center;
  gap: 10px;
}
header img {
  height: 50px;
}

.burger {
  width: 100%;
  display: none;
}

.navegador {
  width: 80px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  height: 80px;
  background-color: var(--Celeste);
}
.navegador i {
  color: var(--GrisClaro);
  font-size: 60px;
}

.cuadrocuotas {
  display: flex;
  align-items: center;
}

/* Estilos cuerpo */

main {
  margin: 20px;
}

.articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.precio {
  font-size: 18px;
  flex-basis: 30%;
}
.descuento {
  font-size: 16px;
  color: #39b54a;
  flex-basis: 70%;
}
.titulares {
  font-size: 24px;
  width: 100%;
  text-align: center;
}
.margenarticulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  
}
.margenarticulos img {
  width: 100%;
  border-radius: 10px;
}
.caja {
  position: relative;
  width: 100%;
  background-color: white;
  border-top: 1px solid var(--GrisOscuro);
  padding: 20px 5px;
}
.camion:hover i{
  rotate: -90deg;
}
.ingreso:hover{
  color:#0022AA;
}
.alinear{
  cursor: pointer;
}
.info i:hover{
  color: #0022AA;
}

.lineaPrecioDescuento {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.camion {
  position: absolute;
  right: 20px;
  top: -15px;
  border: 2px solid var(--Verde);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Verde);
  background-color: white;
}

.descripcion {
  color: transparent;
}
.margenarticulos:hover .descripcion {
  color: black;
}
.margenarticulos:hover{
  box-shadow: 0px 0px 8px rgb(100, 100, 100);
}


/* Estilos Footer */
.footercentrado {
  border-top: 1px solid var(--GrisOscuro);
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.info {
  padding: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 33%;
}
.info div {
  min-width: 300px;
  flex-basis: 33%;
}
footer i {
  font-size: 2em;
  margin-bottom: 10px;
}
.contenedor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


/* break point tablet*/
@media only screen and (max-width: 361px) {
  .ingreso {
    display: none;
  }
  .burger {
    display: flex;
    justify-content: center;
  }
}

/*break point desktop */
@media only screen and (max-width: 769px) {
}
